{{!< default}}

<div class="logo">
    <h1>OOPS, 404 !</h1>
</div>
<p class="text-muted">The page you are looking for could not be found.</p>
<div class="btn-group">
    <a href="{{@blog.url}}" class="btn btn-primary">Back to homepage</a>
</div>
